body {
  background-color: rgb(127, 216, 211);
}
form {
  padding: 10px;
  border: solid 5px black;
}
/* .life, .death {
  margin-top: 10px;
  padding: 10px;
  display: none;
  border: solid 5px black;
} */
